<div class="set-card">
    <figure>
        <div class="img-container">
            <img src="<%= set.image.imageURL || '/images/placeholder.jpg' %>" alt="<%= set.name %>">
        </div>
        <figcaption>
            <h2 class="fw-semi-bold"><%= set.name %>: <%= set.number %></h2>
        </figcaption>
    </figure>
    <div class="checkbox-container">
        <% buttonTypes.forEach(function(button) { %>
            <button id="<%= button %>-<%= set.number %>" class="button"><%= button %></button>
            <script>
                new FigureButtonHandler('<%= button %>', <%- JSON.stringify(set) %>);
            </script>
        <% }); %>
    </div>
</div>