<div class="set-card">
    <figure>
        <div class="img-container">
            <img src="<%= `https://img.bricklink.com/ItemImage/SN/0/${set.number}-1.png` || '/images/placeholder.jpg' %>" alt="<%= set.name %>">
        </div>
        <figcaption>
            <h2 class="fw-semi-bold"><%= set.name %>: <%= set.number %></h2>
        </figcaption>
    </figure>
    <div class="checkbox-container">
        <% buttonTypes.forEach(function(button) { %>
            <button id="<%= button %>-<%= set.number %>" class="button success-or-failure-btn">
                <span class="button-text"><%= button %></span>
                <span class="animation-content"></span>
            </button>
            <script>
                new FigureButtonHandler('<%= button %>', <%- JSON.stringify(set) %>);
            </script>
        <% }); %>
    </div>
</div>